.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 5px;
}

.nav {
    display: flex;
    gap: 25px;
    align-items: center;

    &__button {
        position: relative;
        color: var(--color-text);
        font-size: 1.5rem;
        text-decoration: none;
        cursor: pointer;

        &::after {
            position: absolute;
            bottom: -2px;
            left: 50%;
            width: 0%;
            height: 2px;
            background-color: #f00;
            transform: translateX(-50%);
            transition: width 0.15s ease-in-out;
            content: '';
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}