.header {
    display: flex;
    justify-content: center;
    padding: 100px 0 80px;
}

.nav {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--block-bg);
    border: 1px solid hsl(0deg 0% 100% / 10%);
    border-radius: 40px;

    &__button {
        position: relative;
        z-index: 2;
        width: 150px;
        padding: 10px 0;
        color: var(--color-text);
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        @media (max-width: 1199.99px) {
            width: 15vw;
        }
    }
}