.nav_button_bg {
    @media (max-width: 1199.99px) {
        width: 15vw;
    }

    position: absolute;
    top: 10%;
    left: 5px;
    z-index: 1;
    width: 150px;
    height: 80%;
    background-color: var(--header-nav-button-bg);
    border-radius: 40px;
    transition: left 0.1s linear;
}

.left-5px {
    left: 5px;
}

.left-165px {
    @media (max-width: 1199.99px) {
        left: calc(15vw + 15px);
    }

    left: 165px;
}

.left-325px {
    @media (max-width: 1199.99px) {
        left: calc(30vw + 25px);
    }

    left: 325px;
}

.left-485px {
    @media (max-width: 1199.99px) {
        left: calc(45vw + 35px);
    }

    left: 485px;
}