.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .title {
        color: var(--block-title);
        font-size: 0.8rem;
        font-weight: 400;
    }

    .theme__button {
        position: relative;
        width: 100%;
        height: 2.5rem;
        border: none;
        border-radius: 1.25rem;
        transition: background-color 0.2s ease;
        cursor: pointer;

        &_icon,
        &_text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: left 0.3s linear;
        }

        &_icon {
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            background-color: #fff;
            border-radius: 50%;
        }

        &_text {
            z-index: 1;
            width: 75%;
            color: var(--color-text);
            font-size: 0.9rem;
            font-weight: 500;
        }
    }

    .theme--light {
        background-color: #bdbdbd;

        .theme__button {
            &_icon {
                left: calc(100% - 33px);
            }

            &_text {
                left: 5px;
            }
        }
    }

    .theme--dark {
        background-color: #363636;

        .theme__button {
            &_icon {
                left: 7px;
            }

            &_text {
                left: calc(25% - 5px);
            }
        }
    }
}
