.profile {
    height: 100%;

    .profile_info {
        display: flex;
        align-items: center;

        &_image {
            border-radius: 50%;
        }

        &_name {
            margin-left: 5%;
            font-size: 1.8rem;
            font-weight: 600;
        }

        &_quote,
        &_description {
            margin-top: 20px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}
