@use '@/styles/reset';
@use '@/styles/theme';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';

html {
    font-size: 16px;
}

body {
    color: var(--color-text);
    font-family: Inter, sans-serif;
    background-color: var(--color-bg);
    background-image: var(--bg-image-path);
    background-size: 100% 100%;
    transition: background-image 0.3s linear, color 0.1s linear;
}
