$color-black: #1a1a1a;
$color-white: #fafafa;

:root {
	--color-bg: #{$color-black};
	--color-text: #{$color-white};
}

[data-theme="light"] {
	--color-bg: #{$color-white};
	--color-text: #{$color-black};
}